*{
    margin: 0px;
    padding: 0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;

}
#top-nav{
    background: #f5f5f5;
    border-top: 3px solid #e1261d;
    height: 30px;
}
.container{
    width: 1260px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a{
    display: block;
}
.col-1{
    width: 75%;
}
.col-2{
    width: 20%;
}
.logo{
    width: 20%;
}
.adds{
    width: 80%;
}
.nav-2-col-1{
    width: 80%;
}
.nav-2-col-2{
    width: 17%;
}
.col-1 ul li a{
    color: #444;
    font-size: 12px;
    padding: 0px 12px;
    line-height: 30px;
}
.col-2 ul li a{
    line-height: 30px;
}
.col-2 ul li a i{
    margin-left: 5px;
}
.col-1 ul li:first-child a{
background-color: #e1261d;
font-weight: bold;
color: #fff;
}
#header{
    margin-top: 8px;
}
.nav-2{
    background: #f5f5f5;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    height: 44px;
    margin-top: 8px;
}
.nav-2-col-1 ul li{
    margin-right: 30px;  
}
.nav-2-col-1 a{
    display: block;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    line-height: 44px;
}
#header .adds img{
    margin-left: 270px;
    display: block;
}
.nav-2-col-2 a{
    font-weight: bold;
    color: #383838;
    font-size: 14px;
    line-height: 44px;
}
.nav-2-col-2 i {
    font-size: 20px;
    margin-left: 8px;
}
.search i{
 border-left: 1px solid #cfcfcf;
 border-right: 1px solid #cfcfcf;
 padding: 0px 15px;
  
}
span{
    color: #8a8a8a;
}

.nav-3{
    border-bottom: 1px solid #eeeeee;
}
.nav_3_menu ul li{
    margin-right: 30px;  
}
.nav_3_menu a{
    font-size: 15px;
    color: #5c5c5c;
    line-height: 38px;
}
.nav_3_menu ul li:last-child a{
    color: #e1261c;
}
.content-col-2-right a{
    color: #282828;
    font-weight: bold;
    font-size: 15px;
}
.content-col-1{
    width: 76%;
    margin-left: 10px;
}
.content-col-2{
    width: 22%;
}
.content-col-1-left{
    width: 55%;
    overflow: hidden;
}
.content-col-1-left-container{
    position: relative;
}
.content-col-2-right{
    width: 43%;
}
.content-col-2-right ul li{
    border-bottom: 1px dotted #939393;
    padding: 10px 0;
}
.w-100{
    width: 100%;
}
.content-col-2 img,h1{
    margin-bottom: 15px;
}
.content-col-1-left-container .disc{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.content-col-1-row p a{
color: #282828;
font-weight: bold;
padding: 10px 0px;
display: block;
}

.content-col-1-left .disc h1{
    font-size: 25px;
    color: #fff;
    background-color: #000;
    text-align: center;
}

.content-col-1-left-list ul li{
    width: 46%;
    border-bottom: 1px dotted #939393;
    padding-bottom: 10px;
    margin-right: 17px;
    text-align: center;
    font-weight: bold;
    margin-top: 12px;
    
}
.content-col-1-left-list ul li a{
    color: #282828;
}
.content-col-2-right ul li a:hover{
   color: #e1261c;
}
.adds-midle{
    padding-top: 20px;
}
.adds-midle img{
   margin-left: 100px;
}

.middleadd{
    padding-top: 20px;
}
.middleadd img{
   width: 100%;
}

.content-col-2 h1{
    text-align: center;
    color: green;
    font-size: 25px;
    border: 2px dotted red;
    padding: 5px 0px;
}
.title{
    border-bottom: 3px solid #e1261d;
    position: relative;
    margin: 30px 0px 15px 0px;
}
.title span{
    font-size: 22px;
    line-height: 20px;
    color: #e1261d;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: -3px;
   left: 0px;
   background-color: #fff;
   padding: 4px 0px;
}
.middlerow-col-1 a,.middlerow-col-2 a,.middlerow-col-3 li a{
    color: #232323;
}
.middle-content-container li h5{
    color: #e1261c;
    text-transform: uppercase;
}
.middlerow-col-1{
    width: 32%;
}

.middlerow-col-2{
    width: 32%;
    margin-left: 14px;
}
.middlerow-col-3{
    width: 32%;
}
.imagge{
width: 40%;
}
.para{
    width: 55%;
}
.par{
    width: 72%;
}
h5{
    margin-left: 15px;
    padding-bottom: 3px;
}
.middlerow-col-1 li,.middlerow-col-2 li,.middlerow-col-3 li{
    padding-bottom: 20px;
}
.middle-content{
    border-bottom: 1px dotted #232323;
}
.middleadds img{
   margin-left: 500px;
}
.descr{
    font-size: 15px;
    font-weight: 100;
}
.footer{
    background-color: #1a1a1a;

}
.nimg{
    width: 25%;
}
.bottom-content-col-1{
width: 22.6%;
}
.bottom-content-col-2{
    width: 22.6%;
}
.bottom-content-col-3{
    width: 22.6%;
}
.bottom-content-col-4{
    width: 22.6%;
}
.bottom-content-row{
    margin-right: 25px;
}
h3{
    color: #282828;
    margin-top: 8px;
}
.bottom-content-row ul li{
    border-bottom: 1px dotted #939393;
    padding: 10px 0px;
    display: block;
}
.bottom-content-row ul li a{
    color: #282828;
    font-size: 16px;
    display: block;
}
.bottom-content-row ul li a:hover{
    color: #e1261c;
}
.more-story{
    background: #f5f5f5;
    font-size: 12px;
    padding: 0;
    margin-top: 1px;
}
.more-story a{
    text-transform: uppercase;
    margin-top: 1px;
    padding: 2px 0;
    display: block;
    text-align: center;
    color: #001d42;
    font-weight: bold;
}
.bottom-part{
    background-color: #0c0c0c;
    color: #fff;
    font-size: 13px;
    padding: 12px 0px;
}
.outer-footer h3{
    font-size: 20px;
    /* height: 54px; */
    color: #fff;
    border-right: 1px solid #818181;
    text-transform: uppercase;
    padding: 20px 0px 20px 20px;
}
.outer-footer ul li{
    display: inline-block;
}
.outer-footer{
    background: #212121;
    padding: 20px 0 10px;
    border-top: 1px solid #313131;
}
.outer-head{
    width: 15%;
}
.outer-menu{
    width: 80%;
}
.outer ul li a{
    color: #818181;
}
.outer ul li{
    width: 10%;
    font-size: 16;
    padding: 0 0 14px 30px;
}
.bottom-content{
    margin-top: 500px;
}